body {
  font-family: 'Work Sans', Helvetica, sans-serif;
  background-color: #59bcea;
  background-image: url(http://www.stonebranch.com/common/images/cloud.png);
  color: white;

}

.container {
    max-width: 900px;
    margin: auto;
}

.weather {
  background-color: rgba(50, 125, 168, 0.5);
  font-size: 1.5em;
  padding: 20px 0px 40px 0px;
  line-height: 1.7em;
  margin-top: 20px;
}

h1 {
  font-size: 4.2em;
  letter-spacing: .2em;
}
input[type="text"] {
    display: block;
    padding: 20px;
    border:none;
    background-color: rgba(255,255,255,0.7);
    width: 500px;
    font-size: 1em;
    line-height: 1.5em;
    margin: auto;
    margin-bottom: 25px;
    color: #2c3033;
    font-family: 'Work Sans', sans-serif;
}

input[type="text"]:focus{
  border-bottom: solid 5px #327da8;
}

-webkit-input-placeholder {
   color: white;
}

input[type="submit"] {
  padding: 20px;
  border: 1px solid #3E9CD6;
  background-color: #3E9CD6;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
  display: block;
  margin: auto;
  font-size: 1.3em;
  text-transform: uppercase;
  color: white;
}
input[type="submit"]:hover {
  border: 1px solid #327da8;
  background-color: #327da8;
}
h1, #weather {
  text-align: center;
}
